body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 35px;
    border-bottom: 2px solid #000;
}
.header img {
    width: 200px;
    height: 90px;
    margin: 0;
    margin-left: 100px;
}
.header a {
    text-decoration: none;
}
.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-weight: bold;
    margin-top: 20px;
}
.menu li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}
.menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 175px;  /* 너비 조정이 필요하면 수정 */
    background-color: rgb(227, 227, 227);
    list-style: none;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 5px solid rgb(51, 179, 57);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out; /* 효과 지속시간과 타이밍 함수 조정 */
    z-index: 1000;
}
.menu li:hover ul {
    visibility: visible;
    opacity: 1;
}
.menu li:not(:last-child)::after {
    content: "|";
    color: rgb(156, 154, 154);
    margin-left: 30px;
    margin-right: 20px;
}
.menu li ul li:not(:last-child)::after {
    content: none;
}
.menu li ul li {
    width: 145px;
    padding: 15px;
    text-align: center;
}
.menu li ul li:hover {
    background-color: rgb(51, 179, 57);
    color: white;
}
.menu li ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu li ul li a {
    display: block;  /* 링크를 블록 레벨 요소로 만듦 */
    width: 100%;  /* a 태그가 li의 전체 너비를 차지하도록 설정 */
    padding: 15px;  /* 클릭 영역을 넓히고, 텍스트 중앙 정렬을 위한 패딩 추가 */
    color: black;  /* 기본 텍스트 색상 */
    text-decoration: none;  /* 밑줄 제거 */
}

.menu a li {
    color: black;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 1001;
}
.hamburger div {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover div:nth-child(1) {
    width: 50%;
}
.hamburger:hover div:nth-child(3) {
    width: 50%;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(1, 161, 91, 0.9), #3b3b3b);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    z-index: 1002;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    z-index: 101;  /* 메뉴 위에 보이도록 z-index 설정 */
}

.menu-overlay.show {
    opacity: 1;
    visibility: visible;
}

.menu-overlay-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 16px 32px;
    margin-top: 50px;
    margin-left: 220px;
    text-align: center;
}
.menu-overlay .image-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
}

.menu-overlay img {
    width: 320px;
    height: 130px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-top: 60px;
}
.menu-overlay-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 44px;
    color: white;
}
.menu-overlay-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-overlay-content ul li {
    margin-bottom: 14px;
    font-size: 18px;
}

.menu-overlay-content ul li a {
    color: white;
    text-decoration: none;
}


.menu-overlay-content ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px;
    border-radius: 5px;
}